<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listagem de Empresas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Listagem de Empresas</h1>
    </header>
    <div class="container">
        <h2>Empresas Cadastradas</h2>

        <!-- Botões de ação -->
        <div class="actions">
            <a th:href="@{/admin/home}" class="button">Voltar para Home</a>
            <a th:href="@{/admin/empresas/cadastrar}" class="button">Cadastrar Nova Empresa</a>
        </div>
        
        <!-- Tabela de empresas -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CNPJ</th>
                    <th>Descrição</th>
                    <th>Cidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empresa : ${empresas}">
                    <td th:text="${empresa.id}"></td>
                    <td th:text="${empresa.nome}"></td>
                    <td th:text="${empresa.email}"></td>
                    <td th:text="${empresa.cnpj}"></td>
                    <td th:text="${empresa.descricao}"></td>
                    <td th:text="${empresa.cidade}"></td>
                    <td>
                        <!-- Ajustando os links para apontar para as rotas corretas dentro do escopo admin -->
                        <a th:href="@{'/admin/empresas/editar/' + ${empresa.id}}" class="button">Editar</a>
                        <a th:href="@{'/admin/empresas/deletar/' + ${empresa.id}}" class="button">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <p>&copy; 2024 Sistema de Oferta de Vagas</p>
    </footer>
</body>
</html>
